	.land-image {

	background: url("../img/blog/1.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);

	min-height: 550px;

	}

	

	.grid-gallery div {

	padding-left: 0;

	}


	.comment-form-field {

	padding-left: 0;



	}

	.hight-from-ruler {

	padding-left: 0;

	}

	.blog-new .readmore {

	color: #fff;

	margin: 3% 0;

	width: 220px;

	}

	.clear {

	clear: both;

	float: none;

	overflow: hidden;

	}

	.blog-new .author-img {

	margin: 0;

	}

	.blog-new .author-cmp-detail .author-name {

	text-align: left;

	}





	.portfolio-thumbs {

	text-align:left;

	}

	.image_fade {

	height:100px;

	width:100px;

	}

	.blog-wrap-detail {

	padding-top:8%;

	}

	.tagcloud {

	margin-bottom: -2px;

	}

	.tagcloud a {

	border: 1px solid #e5e5e5;

	border-radius: 2px;

	color: #666;

	display: block;

	float: left;

	font-size: 13px !important;

	margin-bottom: 4px;

	margin-right: 4px;

	padding: 3px 6px;

	}

	body:not(.device-touch) .tagcloud a {

	transition: all 0.3s ease-in-out 0s;

	}

	.tagcloud a:hover {

	border-color: #a48c3f !important;

	color: #a48c3f !important;

	}

	.entry-image img {

	height:50px;

	width:50px;

	margin-top: 15px;

	}

	.widget {

	padding-bottom: 17%;

	}

	.widget h4{

	margin-bottom:8%;

	text-transform: uppercase;
    
    font-family: 'Montserrat', sans-serif!important;
    margin: 0px!important;
    font-size: 13px!important;

	}

    .widget select{

        width: 100%;

        padding: 5px;

    }

    .widget_rss span{

        float: none;

    }

    .widget ul{
        
        list-style: none!important;

        margin: 0px;

    }
    
    .filter-nav{
        
        list-style: none!important;
        
    }

    .widget  ul li{

        border-bottom: 1px solid;

        margin-bottom: 2px;

    }
    
    .widget  li ul li {
        border: none;
    }
    
    .widget  li ul li:before{
        content:'';
        background: url("../img/arrow_small_right.gif") no-repeat;
        padding-left: 15px;
        padding-right: 10px;
    }
    .widget  li ul li a,
    .widget  li ul li span{
        vertical-align: super;
    }
    .widget ul li

    .widget ul li:hover{

       border-bottom-color:#a48c3f; 

    }

    .tabs-widget ul li{

        border: none;

    }

	.nav.nav-tabs {

	text-transform: capitalize;

	}

	.portfolio-desc.center.nobottompadding {

	padding-top: 6%;

	font-family: source sans pro !important;

	}
    
    .widget p{
        margin: 0px!important;
    }


	.owl-carousel .animated {

	animation-duration: 1000ms;

	animation-fill-mode: both;

	}

	.owl-carousel .owl-animated-in {

	z-index: 0;

	}

	.owl-carousel .owl-animated-out {

	z-index: 1;

	}

	.owl-carousel .fadeOut {

	animation-name: fadeOut;

	}

	@keyframes fadeOut {

	0% {

	opacity: 1;

	}

	100% {

	opacity: 0;

	}

	}

	.owl-height {

	transition: height 500ms ease-in-out 0s;

	}

	.owl-carousel {

	display: none;

	position: relative;

	z-index: 1;

	}

	.owl-carousel .owl-stage {

	position: relative;

	}

	.owl-carousel .owl-stage:after {

	clear: both;

	content: ".";

	display: block;

	height: 0;

	line-height: 0;

	visibility: hidden;

	}

	.owl-carousel .owl-stage-outer {

	cursor: grab;

	overflow: hidden;

	position: relative;

	}

	.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {

	-moz-user-select: none;

	cursor: pointer;

	}

	.owl-carousel.owl-loaded {

	display: block;

	}

	.owl-carousel.owl-loading {

	background: url("images/preloader.html") no-repeat scroll center center rgba(0, 0, 0, 0);

	display: block;

	min-height: 100px;

	}

	.owl-carousel.owl-hidden {

	opacity: 0;

	}

	.owl-carousel .owl-refresh .owl-item {

	display: none;

	}

	.owl-carousel .owl-item {

	-moz-user-select: none;

	float: left;

	min-height: 1px;

	position: relative;

	}

	.owl-carousel .owl-item img {

	display: block;

	width: 100%;

	}

	#slider .owl-carousel .owl-item img {

	}

	.owl-carousel.owl-text-select-on .owl-item {

	-moz-user-select: auto;

	}

	.owl-carousel .owl-grab {

	cursor: grab;

	}

	.owl-carousel.owl-rtl {

	direction: rtl;

	}

	.owl-carousel.owl-rtl .owl-item {

	float: right;

	}

	.no-js .owl-carousel {

	display: block;

	}

	.owl-carousel .owl-item .owl-lazy {

	opacity: 0;

	transition: opacity 400ms ease 0s;

	}

	.owl-carousel .owl-item img {

	transform-style: preserve-3d;

	}

	.owl-carousel .owl-video-wrapper {

	background: none repeat scroll 0 0 #111;

	height: 100%;

	position: relative;

	}

	.owl-carousel .owl-video-play-icon {

	background: url("images/icons/play.html") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	cursor: pointer;

	height: 64px;

	left: 50%;

	margin-left: -32px;

	margin-top: -32px;

	position: absolute;

	top: 50%;

	transition: scale 100ms ease 0s;

	width: 64px;

	z-index: 1;

	}

	.owl-carousel .owl-video-play-icon:hover {

	}

	.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {

	display: none;

	}

	.owl-carousel .owl-video-tn {

	background-position: center center;

	background-repeat: no-repeat;

	background-size: contain;

	height: 100%;

	opacity: 0;

	transition: opacity 400ms ease 0s;

	}

	.owl-carousel .owl-video-frame {

	position: relative;

	z-index: 1;

	}

	.owl-theme .owl-controls {

	text-align: center;

	}

	.owl-theme .owl-controls .owl-nav [class*="owl-"] {

	background-color: #fff;

	border: 1px solid rgba(0, 0, 0, 0.2);

	border-radius: 50%;

	color: #666;

	font-size: 18px;

	height: 36px;

	left: -36px;

	line-height: 32px;

	margin-top: -18px;

	opacity: 0;

	position: absolute;

	top: 50%;

	transition: all 0.3s ease 0s;

	width: 36px;

	}

	.owl-theme .owl-controls.with-carousel-dots .owl-nav [class*="owl-"] {

	margin-top: -39px;

	}

	.owl-carousel-full .owl-controls .owl-nav [class*="owl-"] {

	background-color: rgba(0, 0, 0, 0.4);

	border: medium none;

	border-radius: 0 3px 3px 0;

	color: #eee;

	font-size: 28px;

	height: 60px;

	left: 0 !important;

	line-height: 60px;

	margin-top: -30px;

	}

	.owl-carousel-full .owl-controls.with-carousel-dots .owl-nav [class*="owl-"] {

	margin-top: -46px;

	}

	.owl-theme .owl-controls .owl-nav .owl-next {

	left: auto;

	right: -36px;

	}

	.owl-carousel-full .owl-controls .owl-nav .owl-next {

	border-radius: 3px 0 0 3px;

	left: auto !important;

	right: 0 !important;

	}

	.owl-theme:hover .owl-controls .owl-nav [class*="owl-"] {

	left: -18px;

	opacity: 1;

	}

	.owl-theme:hover .owl-controls .owl-nav .owl-next {

	left: auto;

	right: -18px;

	}

	.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {

	background-color: #a48c3f !important;

	color: #fff !important;

	text-decoration: none;

	}

	.owl-theme .owl-controls .owl-nav .disabled {

	display: none !important;

	}

	.owl-theme .owl-dots .owl-dot {

	display: inline-block;

	margin-top: 30px;

	}

	.owl-theme .owl-dots .owl-dot span {

	background-color: #a48c3f;

	border-radius: 50%;

	display: block;

	height: 8px;

	margin: 0 4px;

	opacity: 0.5;

	transition: all 0.3s ease 0s;

	width: 8px;

	}

	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {

	opacity: 1;

	}
    
    .comment-image img{
    max-width: inherit!important;    
    }
    .sticky{
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 25px;
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        box-shadow: 0 0 5px #ccc;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
    }
    .sticky-two{
        -moz-box-shadow: inset 0 0 5px 5px #888;
        -webkit-box-shadow: inset 0 0 5px 5px#888;
        box-shadow: inset 0 0 5px 5px #888;
    }