@charset "utf-8";
/*****************************************************/
/* Photography CSS */
/*****************************************************/
.photo-header {
	background: none repeat scroll 0 0 #fff;
	font-family: "Raleway",sans-serif;
	left: 0;
	padding: 3%;
	position: relative;
	text-transform: uppercase;
	top: 0;
	transition: padding 0.3s ease 0s;
	width: 100%;
	z-index: 100;
	text-align: center;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.photo-nav > a:first-child {
	margin: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.photo-nav > a {
	display: inline-block;
	font-size: 1.5em;
	line-height: 70px;
	padding: 0 2%;
	text-transform: capitalize;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.photo-header.short {
	padding: 2% 0!important;
	position: fixed;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.photo-header.short .photo-nav > a {
	font-size: 1.3em;
	line-height: 35px;
	padding: 0 1%;
	text-transform: capitalize;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.photo-header.short img {
	width: 40px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.pride {
	background: #fff;
	bottom: -43px;
	color: #000;
	font-size: 1.2em;
	position: absolute;
	text-transform: capitalize;
	width: 100%;
	bottom: 0\9;
}

.masonry-layout.photo-layout {
	padding-top: 3%;
}

#left-arrow {
	background: none;
	bottom: 0;
	cursor: url("../img/cursor/arrow-left.svg") 8 8, move !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

#right-arrow {
	background: none;
	bottom: 0;
	cursor: url("../img/cursor/arrow-right.svg") 8 8, move !important;
	right: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

.mega-entry-innerwrap a {
	display: block;
	width: 100%;
	height: 100%;
}

.mega-entry-innerwrap:hover a {
	opacity: 0.5;
	background: #fff;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.mega-entry-innerwrap:hover .hover img {
	opacity: 1;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.hover > img {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}

/*****************************************************/
/* Removing Hover For Touch Devices CSS */
/*****************************************************/
@media only screen and (max-width: 1024px) {
.mega-entry-innerwrap:hover a {
    background: none;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.mega-entry-innerwrap:hover .hover img {
    opacity: 0;
    transition: all 0.5s ease 0s;
}
}