.clearfix {
	clear: both;
}

img {
	max-width: 100%;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
	margin: 0 0 1.5em 0;
}

/* === Block Quote === */
blockquote {
	width: 100% !important;
	position: relative;
	text-align: left;
	padding: 30px 40px 30px 65px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.8);
	border-left: #a48c3f solid 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 1.5em;
	color: #6e6e6e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

blockquote p {
	margin: 0;
}

/* === Tables === */
table {
	width: 100%;
	margin: 0 0 10px 0;
	border-collapse: collapse;
}

table tbody tr:not(:first-child) {
	border-top: 1px solid #a48c3f;
	border-bottom: 1px solid #a48c3f;
}

thead {
	background-color: #a48c3f;
	color: #fff;
}

td, th {
	padding: 5px 10px;
}

th {
	text-align: left;
}

th a {
	color: #4e4e4e;
	text-decoration: none;
	
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

th a:hover {
	color: #36bfc4;
}
/* === Definition Lists === */
dt {
	font-size: 18px;
	font-weight: bold;
}

dd {
	margin-bottom: 20px;
}

/* === Lists === */
ul {
	list-style: disc!important;
}
ul, ol {
	margin: 0 0 0 20px;
}

/* === HTML Tags === */
cite {
	font-family: 'Oswald', sans-serif;
	color: #a48c3f;
}
address {
	font-style: italic;
	margin: 0 0 1.5em 0;
}
abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #a48c3f;
    border-radius: 4px;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}
pre {
    display: block;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* === Alignment === */
.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignleft {
	float: left;
	margin: 0px 30px 10px 0px;
}
.alignright {
	float: right;
	margin: 0px 0px 10px 30px;
}
.alignnone {
	margin: 0;
}

/* === Image Caption === */
.wp-caption {
	background-color: #f9f9f9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 100%;
	padding: 5px 5px 0px 5px;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    clear: both;
}
.wp-caption-text {
	font-size: 11.5px;
	line-height: 1.4em;
	margin: 0;
	padding: 15px 4px;
}
.size-large{
    height: auto!important;
}